@mixin hr-style($color1, $line1, $height1) { 
    border-top: $height1 $line1 $color1;
};

.Divider {
  @include hr-style(blue, solid,  3px);
};

.form-control input {
  color:green;
  padding:4px;
  text-align:center;
};

.form-control input::placeholder {
  color:red;
}

.hint1-center {
   margin-top:5px;
   align-content: left;
   text-align:left;
   color:purple;
   line-height: 100%;
   font-size:80%;
};

.error1-center {
   margin-top:5px;
   margin-bottom:0px;
   text-align:left;
   color:red;
   line-height:90%;
   justify-content:space-evenly;
};
