.Divider {
  border-top: 3px solid blue;
}

.form-control input {
  color: green;
  padding: 4px;
  text-align: center;
}

.form-control input::placeholder {
  color: red;
}

.hint-center {
  display: inline-block;
  margin-top: 5px;
  align-content: center;
  text-align: center;
  text-justify: left;
  align-items: left;
  line-height: 100%;
  font-size: 80%;
}

div.myerror {
  margin: 5px;
  text-align: left;
  text-justify: left;
  line-height: 100%;
  color: red;
  justify-content: space-evenly;
}
